<%- include('header') %>

<div class="result">
  <% if(error){ %>
    <%= error %>
  <% }else{ %>
    <%= quantidade %> dólares 
    na cotação: <%= cotacao %> 
    é igual á R$ <%= conversao %> reais.
  <% } %>
</div>

<%- include('footer') %>